<h1>2.  reactive- forms </h1>

<ul>
    <li>They follow a model-driven approach.</li>
    <li>Forms are created and controlled from the component class.</li>
    <li>The flow of data is Synchronous.</li>
    <li>It is flexible and scalable for complex forms with dynamic behavior.</li>
    <li>In reactive forms, the form control instances are accessed using FormControl and FormGroup.</li>
    <li>Form validations are applied using the built-in validator functions.</li>
</ul>

<h1> Reactive forms </h1>
<h4> formGroup :-is a class that tracks 
  the value and validation status of an individual input element. </h4>
  <h4> formControl :-is a class that tracks
     the value and validation status of an individual input element. </h4>
    