<h1>this is the documentation  page of binding !</h1>

<h3> property binding </h3>
<p> set src of this img with the help of property binding method </p>
<img src="{{imgur}}" alt="not shown"/>
 <button  [disabled]="isError"> disabled button   </button>

 <h3> event binding </h3>
 <button (click)="anyfunc()">click me </button>
<h3>{{event_}} </h3>
 <h3> two way binding by using ngmodel  </h3>
<input  [(ngModel)]="userName" placeholder="type somethimg " name="user"/>

<h4> here is output ....{{userName}}</h4>



